# Byte-compiled / optimized Python files
__pycache__/
*.pyc
*.pyo
*.pyd

AIMangment/__pycache__
ApplicationManagment/__pycache__
ApplicationRoutes/__pycache__
Database/__pycache__
UserMangment/__pycache__

backend/__pycache__

backend/SkillPracticeBackend

backend/ChatBotBackend

AIPlatform_backend/logs

AIPlatform_backend/__pycache__

AIPlatform_backend/.env

logs/backend/logger.log

.venv