fastapi==0.103.1
fastapi-mail==1.4.1
PyJWT==2.8.0
Requests==2.31.0
Werkzeug==2.3.6
pydantic==2.3.0
pyyaml==6.0.1
uvicorn==0.23.2
psycopg2==2.9.9
logger
cachetools
python-jose
pymongo==4.9.2
motor==3.6.1
openpyxl==3.1.5
sentence-transformers==3.3.1
bert-score==0.3.13
rouge-score==0.1.2
flask
httpx
psutil